<h3>input</h3>
<div style="width:400px; height: 100px;">
  <app-custom-input [type]="'number'" [appearance]="'outline'" [label]="'あああああ'"></app-custom-input>
</div>
<div style="width:400px; height: 100px;">
  <custom-input type="'number'" appearance="'outline'" label="'あああああ'"></custom-input>
</div>
<br>
<br>
<h3>select</h3>
<div style="width:400px; height: 100px;">
  <app-custom-select [options]=testOptions [label]="'ううううう'"></app-custom-select>
</div>
<div style="width:400px; height: 100px;">
  <custom-select id="aaa" label="ううううう"></custom-select>
</div>
<br>
<br>

