<p>app-input works!</p>
{{ testParam }}
<!-- <mat-form-field [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'">
  <span matTextPrefix>{{ prefixText }}</span>
  <span matTextSuffix>{{ suffixText }}</span>
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="ariaLabel" [attr.aria-pressed]="hide">
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-icon matSuffix>{{ suffixIcon }}</mat-icon>
  <mat-error>{{ error }}</mat-error>
  <mat-hint>{{ hint }}</mat-hint>
</mat-form-field> -->


<!-- Form field with prefix & suffix -->
<!--
<div class="example-container">
<mat-form-field appearance="fill">
  <mat-label>Enter your password</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>

<mat-form-field appearance="fill" floatLabel="always">
  <mat-label>Amount</mat-label>
  <input matInput type="number" class="example-right-align" placeholder="0">
  <span matTextPrefix>$&nbsp;</span>
  <span matTextSuffix>.00</span>
</mat-form-field>
</div>
 -->







