<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="wrapper">
  <!-- テキスト入力欄 -->
  <div *ngIf="type === 'text'">
    <div *ngTemplateOutlet="text">
    </div>
  </div>

  <!-- 数値入力欄 -->
  <div *ngIf="type === 'number'">
    <div *ngTemplateOutlet="number">
    </div>
  </div>

</div>

<!-- テキスト入力欄（テンプレート） -->
<ng-template #text>
  <mat-form-field [appearance]="appearance">
    <mat-label *ngIf="label !== ''">{{ label }}</mat-label>
    <input matInput [type]="type" [formControl]="input">
    <span matTextPrefix *ngIf="prefixText !== ''">{{ prefixText }}</span>
    <span matTextSuffix *ngIf="suffixText !== ''">{{ suffixText }}</span>
    <button mat-icon-button matSuffix *ngIf="iconName !== ''" [attr.aria-label]="ariaLabel">
      <mat-icon>{{ iconName }}</mat-icon>
    </button>
    <mat-icon matSuffix *ngIf="suffixIcon !== ''">{{ suffixIcon }}</mat-icon>
    <mat-error *ngIf="error !== ''">{{ error }}</mat-error>
    <mat-hint *ngIf="hint !== ''">{{ hint }}</mat-hint>
  </mat-form-field>
</ng-template>

<!-- 数値入力欄（テンプレート） -->
<ng-template #number>
  <mat-form-field [appearance]="appearance">
    <mat-label *ngIf="label !== ''">{{ label }}</mat-label>
    <input matInput [type]="type" [formControl]="input">
    <span matTextPrefix *ngIf="prefixText !== ''">{{ prefixText }}</span>
    <span matTextSuffix *ngIf="suffixText !== ''">{{ suffixText }}</span>
    <button mat-icon-button matSuffix *ngIf="iconName !== ''" [attr.aria-label]="ariaLabel">
      <mat-icon>{{ iconName }}</mat-icon>
    </button>
    <mat-icon matSuffix *ngIf="suffixIcon !== ''">{{ suffixIcon }}</mat-icon>
    <mat-error *ngIf="error !== ''">{{ error }}</mat-error>
    <mat-hint *ngIf="hint !== ''">{{ hint }}</mat-hint>
  </mat-form-field>
</ng-template>
